@use "../base/functions" as fn;
@use "../layout/breakpoints" as bp;
@use "../theme/typography" as typo;
@use "../theme/colors" as color;
@use "../theme/spacing" as spacing;

.projects {
	display: grid;
	gap: spacing.$medium;

	&__card {
		display: grid;
		gap: spacing.$large;

		@include bp.breakpoint("large") {
			grid-template-columns: repeat(2, 1fr);
			align-items: center;
		}

		&-image {
			margin: 0 auto;
		}

		&-info {
			display: flex;
			flex-flow: column nowrap;
			justify-content: space-between;
			gap: spacing.$medium;
		}

		&-techs {
			color: color.$sec;
		}

		&-title {
			font-size: typo.$sz-large;
		}

		&-description {
			font-size: typo.$sz-small;
		}

		&-footer {
			margin-top: spacing.$medium;
			display: flex;
			flex-flow: row nowrap;
			gap: spacing.$medium;
		}

		&-btn {
			padding: spacing.$small spacing.$medium;
			border-radius: fn.pxToRem(12);
			border: fn.pxToRem(1) solid color.$prim;
			font-size: typo.$sz-medium;
		}

		&-demo {
			@extend .projects__card-btn;
			background-color: color.$prim;
			color: color.$white;
		}

		&-code {
			@extend .projects__card-btn;
			background-color: color.$white;
			color: color.$prim;
		}
	}
}
